
.subscrible-section {    
    border-radius: 75rem;
    background: #F4F9FF;
    padding: 98rem 92rem;
    margin-bottom: 148rem;

		&__title {
            color: $black;
            font-family: $ff-main;
            font-size: 40rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 17rem;
            @include mobile {
			font-size: 36rem;
	}}

		&__text {
            @include text($darkGrey, $ff-main, 16rem, 400, 160%);
		}

		&__form {
            border-radius: 60rem;
            border: 1rem solid #F1F1F1;
            background: #FFF;
            box-shadow: 10rem 20rem 50rem 0rem rgba(0, 0, 0, 0.15);
            padding: 10rem;
            display: flex;
            gap: 57rem;
            white-space: nowrap;
            width: 100%;
            max-width: 480rem;

            @include mobile {
                  display: grid;
                  justify-content: center;
                  gap: 16rem;
                  border: none;
                  background: #F4F9FF;
                  box-shadow: none;
		}}

      @include tablet {
            padding: 64rem 40rem;}
      @include mobile {
            padding: 64rem 40rem;}
}

.subscrible-section__container{
      display: flex;
      justify-content: center;
      gap: 47rem;
      @include tablet {
            display: grid;
      }}

input { 
      background: $white;
      font-family: $ff-main;
      border: 0;
      outline: 0;
      padding: 20rem 0rem 20rem 24rem;
      width: 100%;
}

input[type="email"] {
      color: #959595;
      border-radius: 25rem;
      @include mobile {
            border-radius: 0rem;
            border: 1rem solid #F1F1F1;
            padding: 21rem 0rem 20rem 15rem;}
}

input[type="email"]::placeholder{
      color: #959595;
}

.subscrible-section__btn {
      font-size: 16rem;
      display: inline-flex;
      padding: 20rem 40rem;
      justify-content: center;
      align-items: center;
      gap: 10rem;
}
